In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
os.getcwd()

'/Users/chance/Desktop/LH_home/ksc'

In [3]:
folder = os.listdir()

In [59]:
file = []
for f in folder:
    if ".csv" in f:
        data = pd.read_csv("./" + f, encoding="cp949", header=None)
        df = pd.DataFrame(data.iloc[16:])
        df.columns = data.iloc[15]
        file.append(df)

In [64]:
gajwa = pd.concat(file)
gajwa["도로명"].isnull().sum()

180

15,시군구,번지,도로조건,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원)
16,경상남도 진주시 가좌동,1***,-,12,전세,202012,26,"5,000",0,2019,NaN,-,-,-,NaN,NaN
17,경상남도 진주시 가좌동,1***,12m미만,15,월세,202107,4,150,30,2016,가좌길48번길,-,-,-,NaN,NaN
18,경상남도 진주시 가좌동,1***,8m미만,15,월세,202108,11,200,32,2015,가좌길60번길,-,-,-,NaN,NaN
19,경상남도 진주시 가좌동,1***,-,15,월세,202102,14,300,23,2016,NaN,-,-,-,NaN,NaN
20,경상남도 진주시 가좌동,5**,25m미만,15,월세,202102,20,300,36,2019,가좌길,-,-,-,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,경상남도 진주시 가좌동,4**,12m미만,100.96,전세,201907,3,"12,000",0,2007,가좌안골길14번길,-,-,-,NaN,NaN
229,경상남도 진주시 가좌동,1***,8m미만,102.36,월세,201907,4,"2,000",40,2005,진주대로404번길,-,-,-,NaN,NaN
230,경상남도 진주시 가좌동,6**,8m미만,115,월세,201903,28,"11,000",15,2018,가호로4번길,-,-,-,NaN,NaN
231,경상남도 진주시 가좌동,4**,12m미만,117.23,전세,201811,30,"11,000",0,2008,진주대로542번길,-,-,-,NaN,NaN
232,경상남도 진주시 가좌동,4**,12m미만,117.23,전세,201811,30,"11,000",0,2008,진주대로542번길,-,-,-,NaN,NaN